.gamepad-focus {
  outline: 2px solid rgb(255, 0, 0) !important;
  outline-offset: 0px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
  position: relative;
  z-index: 999999;
}
